
body {
  background-image: url(background-realistic-abstract-technology-particle_23-2148431735.avif); 
  background-size: cover;
  background-repeat: no-repeat;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  width: 50%;
}

.form-container h2 {
  margin-top: 0;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input,
.form-container select,
.form-container button {
  margin-bottom: 10px;
  padding: 10px;
}

.form-container button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #9e1c3f;
}